@media (min-width:1200px) {
  .landing-section-vector {
    width: 650px;
    height: 100%;
    transform: translateX(clamp(-100px, calc(50vw - 720px), 0px))
  }
}

@media (max-width:1200px) {
  .landing-section-vector {
    transform: translateX(-100px);
    width: 55%;
  }

}

@media (max-width:480px) {
  .landing-section-vector {
    transform: translateX(-100px);
    width: 240px;
  }

  .landing-layer04 {
    padding-top: 90px;
    padding-left: 40px;
  }
}


@media screen and (max-width: 1024px) {

  .landing-layer03 {
    display: none;
  }

  .highlight-text>p {
    display: none;
  }

  .slider-a-element-description {
    top: 24px;
    left: 12px;
    padding: 4px 32px 4px 8px;
    gap: 4px;
    max-width: clamp (380px, -2.75px + 84vw, 800px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .foot {
    width: 100%;
    padding: 60px 24px;
  }

  .foot-content-left {
    gap: 24px;
  }

  .foot-content-left-links {
    gap: 24px;
  }
}

@media screen and (max-width: 768px) {
    .nav-links>a {
    display: none;
  }

  .header-navigation {
    justify-content: center;
  }

  .contact-section-description {
    display: none;
  }

  .cfi-row {
    flex-direction: column;
  }

  .foot {
    width: 100%;
    padding: 30px 8px 130px 8px;
  }

  .foot-content-left {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 8px;
  }

  .foot-content-left-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .foot-navigation {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 24px;
  }
}