
@media (min-width:1200px) {

.landing-layer01 {
  display: block;
  animation: 
    layer01-slideout-one 1s 1.35s forwards,
    layer01-slideout-two 1s 2.6s forwards;
}

.landing-layer02 {
  transform: translateX(100%);
  animation: layer02-slidein 2.4s ease-in-out 1s forwards;
}

.landing-layer03 {
    transform: translate(40%, 30%);
    opacity: 0;
  animation:
    text-rise 0.7s ease-out 0.85s forwards,
    text-slideout 1s ease-in-out 2.4s forwards;
}

.landing-section-vector>img {
  transform: translatey(-5%);
  animation:
    vector-growth 0.85s ease-in 2.15s forwards;
}

.landing-section-text p {
  opacity: 0;
  animation: text-fadein 0.5s ease-in 0.85s forwards;
}

.landing-layer04 {
  opacity: 0;
  animation:
    rotor-enter 0.9s ease-out 2.72s forwards,
    rotor-fade 0.6s ease-in 2.72s forwards;
}

.landing-section-rotor img {
  animation:
    rotor-spin 1.8s linear 3.5s 2;
}

@keyframes text-rise {
  from {
    transform: translate(40%, 30%);
    opacity: 0.1;
  }

  to {
    transform: translate(40%, 0%);
    opacity: 1;
  }
}

@keyframes text-fadein {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@keyframes layer01-slideout {
  0% {transform: translateX(0);}

  40% { transform: translateX(-40%);}

  55% {transform: translateX(-40%);}

  100% { transform: translateX(-100%);}
}

@keyframes layer01-slideout-one {
  0% {transform: translateX(0);}

  100% { transform: translateX(-40%);}
}

@keyframes layer01-slideout-two {
  0% {transform: translateX(-40%);}

  100% { transform: translateX(-100%);}
}


@keyframes text-slideout {
  from {
    transform: translate(40%, 0%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

@keyframes layer02-slidein {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(40%);
  }

  58% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(0%);
  }
}


@keyframes vector-growth {
  0% {
    transform: translateY(-5%);
  }

  40% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(-0.5%);
  }
}

@keyframes rotor-enter {
  from {
    transform: translateY(250px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes rotor-fade {
  from {
    opacity: 0.05;
  }

  to {
    opacity: 1;
  }
}


@keyframes rotor-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
}