header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  height: 130px;
  width: 100vw;
  background-color: #4ea487;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-navigation {
  width: 100%;
  max-width: 1200px;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  margin-inline: auto;
}

.logo {
  display: block;
  width: 72px;
  height: 72px;
  transform: scale(1);
  transform-origin: 0% 0%;
  transition: scale 250ms ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
}


.nav-links {
  display: flex;
  align-items: center;
  gap: 72px;
}

.nav-links>a {
  text-decoration: none;
  color: #f8f5eb;
  font-family: "Arima";
  font-size: 24px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  transition: transform 0.25s ease;
}

.nav-links>a::after {
  content: "";
  position: absolute;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  opacity: 0;
  transition: transform 0.25s ease-in, opacity 0.25s ease-in;
}

.nav-links>a:visited {
  color: rgba(241, 201, 83, 1);
}

.nav-links>a:hover {
  color: #fff;
}

.nav-link-highlight::after {
  left: 0px;
  bottom: -8px;
  background-image: url(/assets/icons/Vector_01.svg);
  width: 110%;
  height: 100%;
}

.nav-link-highlight:hover::after {
  opacity: 1;
}

.nav-link-highlight:hover {
  animation: highlight-jerk 250ms;
}

@keyframes highlight-jerk {
  0% {
    transform: translateX(0);
  }

  35% {
    transform: translateX(3px);
  }

  70% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(0);
  }
}

.nav-link-faq::after {
  left: 0px;
  bottom: -8px;
  background-image: url(/assets/icons/Vector_02.svg);
  width: 54px;
  height: 25px;
}

.nav-link-faq:hover::after {
  opacity: 1;
  transform: translate(-4px, -4px);
}

.nav-link-faq:hover {
  transform: translate(3px, 3px);
}

.nav-link-contact::after {
  left: -4px;
  bottom: -10px;
  background-image: url(/assets/icons/Vector_03.svg);
  width: 110%;
  height: 110%;
}

.nav-link-contact:hover::after {
  opacity: 1;
  transform: translate(-3px, 3px);
}

.nav-link-contact:hover {
  transform: translate(3px, -3px);
}

.landing-section {
  margin-top: 130px;
  position: relative;
  width: min(100%, 1440px);
  height: 515px;
  margin-inline: auto;
  margin-bottom: 88px;
  overflow-x: clip;
  overflow-y: visible;
}

.landing-clipper {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.landing-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.landing-layer {
  position: absolute;
  inset: 0;
  transform: translateX(0px);
  width: 100%;
}

.landing-layer01 {
  z-index: 1;
  display: none;
  padding: 0;
}

.landing-layer02 {
  z-index: 2;
  display: block;
}

.landing-layer03 {
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  padding-top: clamp(32px, -330px + 33vw, 140px);
  padding-left: clamp(24px, -312px + 30vw, 120px);
}

.landing-layer04 {
  z-index: 4;
  display: flex;
  justify-content: flex-start;
  padding-top: clamp(90px, -15.6px + 21.1vw, 280px);
  padding-left: clamp(40px, -188px + 45vw, 450px);
}

.landing-section-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(241, 201, 83, 1);
}

.landing-section-vector {
  display: flex;
  align-items: flex-start;
  width: 650px;
  height: 100%;
}

.landing-section-vector>img {
  display: block;
  width: 100%;
  height: auto;
}

.landing-section-text {
  width: min(100%, 345px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.landing-section-text h2 {
  font-family: Arima, sans-serif;
  font-size: clamp(2rem, 1.25rem + 4vw, 3.75rem);
  line-height: 1.2;
  color: rgba(84, 55, 13, 1);
  font-weight: 700;
}

.landing-section-text p {
  font-family: Palanquin, sans-serif;
  font-size: clamp(1.125rem, 0.95rem + 1vw, 1.75rem);
  line-height: 1.2;
  color: rgba(84, 55, 13, 1);
}

.landing-section-rotor {
  width: clamp(80px, -11.4px + 14.3vw, 160px);
  height: clamp(80px, -11.4px + 14.3vw, 160px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-section-rotor img {
  width: 100%;
  height: 100%;
}

main {
  width: min(100%, 1200px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  margin-bottom: 16px;
}

.highlight-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 88px;
}

.highlight-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.highlight-section>img {
  width: 40px;
  height: 40px;
}

.highlight-text>p {
  font-size: 24px;
  font-family: var(--maintextfamily);
  font-weight: 500;
  color: #54370d;
}

.slider-a {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 533px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.slider-a input {
  position: relative;
  z-index: 4;
  cursor: pointer;
}

.slider-a-element {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.slider-a-element-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  text-decoration: none;
}

.slider-a-element-description {
  position: absolute;
  top: 54px;
  left: 38px;
  width: 100%;
  max-width: 800px;
  height: auto;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 8px;
}

.slider-a-element-description h2 {
  font-family: Palanquin Dark;
  font-size: clamp(2.5rem, 1.25rem + 4vw, 3rem);
  line-height: 1.2;
  color: white;
  font-weight: 600;
}

.slider-a-element-description p {
  font-family: palanquin;
  font-size: clamp(1rem, 0.25rem + 2vw, 1.75rem);
  line-height: 1.3;
  color: white;
}

.slider-a-element-link img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  border-top-right-radius: 96px;
}

.slider-a input[value="one"]:checked~.slider-a-wrapper .element-one,
.slider-a input[value="two"]:checked~.slider-a-wrapper .element-two,
.slider-a input[value="three"]:checked~.slider-a-wrapper .element-three,
.slider-a input[value="four"]:checked~.slider-a-wrapper .element-four {
  opacity: 1;
  z-index: 3;
}

.slider-a-radio-btn {
  appearance: none;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  margin: 8px;
  margin-bottom: 32px;
}

.slider-a-radio-btn:checked {
  width: 40px;
  height: 28px;
  background-color: rgba(241, 201, 83, 1);
  border-radius: 20px;
}

.faq-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 8px;
}

.faq-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 24px;
}

.faq-headline>img {
  width: clamp(40px, 28px + 2.5vw, 48px);
  height: auto;
}

.faq-headline>h2 {
  font-family: arima;
  font-size: clamp(2.5rem, 1.25rem + 4vw, 3.25rem);
  color: rgba(78, 164, 135, 1);
  font-weight: 700;
}

.faq-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.faq-item {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 14px;
  gap: 8px;
  border-radius: 12px;
  background-color: rgba(241, 201, 83, 1);
  interpolate-size: allow-keywords;
}

.faq-item::details-content {
  block-size: 0;
  opacity: 0;
  overflow: clip;
  transition:
    block-size 0.5s ease-in-out,
    opacity 0.3s ease-in-out;
}

.faq-item[open]::details-content {
  block-size: auto;
  opacity: 1;
}

.faq-item-sum {
  font-family: var(--maintextfamily);
  font-size: clamp(1rem, 0.25rem + 2.5vw, 1.5rem);
  font-weight: 700;
  color: rgba(84, 55, 13, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-item>p {
  font-family: var(--maintextfamily);
  font-size: 1rem;
  color: rgba(54, 53, 52, 1);
  padding: 4px 10px;
  background-color: white;
  border-radius: 5px;
}

.faq-item-sum img {
  display: block;
  width: 24px;
  height: auto;
}

.faq-item:open .faq-item-sum img {
  rotate: 180deg;
}

.contact-section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.contact-section-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 56px;
}

.contact-section-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 24px;
}

.contact-section-headline>img {
  width: clamp(40px, 28px + 2.5vw, 48px);
  height: auto;
}

.contact-section-headline>h2 {
  font-family: arima;
  font-size: clamp(2.5rem, 1.25rem + 4vw, 3.25rem);
  color: rgba(78, 164, 135, 1);
  font-weight: 700;
}

.contact-section-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-section-description>p {
  font-family: Palanquin;
  font-size: 1.5rem;
  color: rgba(84, 55, 13, 1);
  font-weight: 500;
}

.contact-form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.cfi-container-lbltxt {
  font-family: var(--maintextfamily);
  font-size: 1.5rem;
  color: rgba(84, 55, 13, 1);
  font-weight: 500;
}

.contact-form-input input[type="text"] {
  border: none;
  border-bottom: 1px solid rgba(84, 55, 13, 1);
  width: 100%;
  margin: 17px 0px;
  font-family: Palanquin;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(78, 164, 135, 1);
}

.cfi-container {
  flex: 1 0 120px;
}

.cfi-row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 48px;
}

.cfi-send {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
}

.cfi-check {
  display: grid;
  grid-template-columns: 32px 1fr;
  column-gap: 16px;
  align-items: start;
  justify-content: center;
}

.cfi-check input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(84, 55, 13, 1);
  border-radius: 2px;
  background: #fff;
  justify-self: center;
  align-self: center;
}

.cfi-check input[type="checkbox"]:hover {
  background: rgba(241, 201, 83, 1);
}

.cfi-check input[type="checkbox"]:checked {
  background: rgba(78, 164, 135, 1);
}

.cfi-check input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("./assets/icons/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cfi-check-lblcontainer {
  position: relative;
}

.cfi-check-lblcontainer label {
  position: absolute;
  inset: 0;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  border: none;
  white-space: nowrap;
  overflow: hidden;
}

.cfi-check-lblcontainer p {
  font-family: Palanquin;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
  color: rgba(84, 55, 13, 1);
}

.cfi-check-lblcontainer a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: rgba(78, 164, 135, 1);
  text-decoration: none;
}

.cfi-check-ignored {
  display: none;
  font-family: Palanquin;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(185, 16, 47, 1);
  transform: translate(4px, -140px);
}

.cfi-send-button {
  justify-self: center;

  width: 139px;
  height: 48px;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid rgba(48, 48, 48, 0.5);

  font-family: var(--headlinefontfamily);
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(115, 115, 115, 1);
}

.cfi-send:has(#cfi-check:checked) .cfi-send-button {
  background: rgba(78, 164, 135, 1);
  border: none;
  color: rgba(241, 201, 83, 1);
  cursor: pointer;
}

.footer-container {
  z-index: 98;
  width: 100vw;
  height: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  align-items: center;

}

.foot {
  width: 100%;
  background-color: rgba(78, 164, 135, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 120px;
}

.foot-content {
  width: min(100%, 1200px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 16px;
}

.foot-content-left {
  display: flex;
  align-items: center;
  gap: 72px;
}

.foot-content-left-copyright {
  display: flex;
  align-items: center;
  gap: 4px;
}

.foot-content-left-copyright p {
  font-family: palanquin;
  font-size: 1rem;
  color: white;
}

.foot-content-left-links {
  display: flex;
  align-items: center;
  gap: 72px;
}

.foot-content-left a {
  font-family: palanquin;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  font-weight: 400;
  transition: opacity 150ms ease-in, color 150ms ease-in;
}

.foot-content-left a:hover {
  color: #54370d;
  font-weight: 500;
}

.foot-content-right {
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.foot-content-right img {
  display: block;
  height: 32px;
  width: auto;
  transform: scale(1);
  transform-origin: 0% 100%;
  transition: transform 250ms ease-in-out;
}

.foot-content-right img:hover {
  transform: scale(1.1);
}

.foot-navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(241, 201, 83, 1);
  display: none;
}

.foot-navigation img {
  display: block;
  height: 48px;
  width: auto;
  transform: scale(1);
  transform-origin: center;
  transition: transform 250ms ease-in-out;
}

.foot-navigation img:hover {
  transform: scale(1.2);
}


@media (min-width:1200px) {
  .landing-section-vector {
    width: 650px;
    height: 100%;
    transform: translateX(clamp(-100px, calc(50vw - 720px), 0px))
  }
}

@media (max-width:1200px) {
  .landing-section-vector {
    transform: translateX(-100px);
    width: 55%;
  }

}

@media screen and (max-width: 1024px) {

  .landing-layer03 {
    display: none;
  }

  .highlight-text>p {
    display: none;
  }

  .slider-a-element-description {
    top: 24px;
    left: 12px;
    padding: 4px 32px 4px 8px;
    gap: 4px;
    max-width: clamp (380px, -2.75px + 84vw, 800px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .foot {
    width: 100%;
    padding: 60px 24px;
  }

  .foot-content-left {
    gap: 24px;
  }

  .foot-content-left-links {
    gap: 24px;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .header-navigation {
    justify-content: center;
    padding-inline: 16px;
  }

  .contact-section-description {
    display: none;
  }

  .cfi-row {
    flex-direction: column;
  }

  .foot {
    width: 100%;
    padding: 30px 8px 130px 8px;
  }

  .foot-content-left {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 8px;
  }

  .foot-content-left-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .foot-navigation {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
  }
}

@media (max-width:480px) {
  .landing-section-vector {
    transform: translateX(-100px);
    width: 240px;
  }

  .landing-layer04 {
    padding-top: 90px;
    padding-left: 40px;
  }
}

@media (max-width:480px) {

.foot-content-right {
  grid-template-columns: repeat(2, 1fr);
}
}


@media (min-width:1200px) {

  .landing-layer01 {
    display: block;
    animation:
      layer01-slideout-one 1s 1.35s forwards,
      layer01-slideout-two 1s 2.6s forwards;
  }

  .landing-layer02 {
    transform: translateX(100%);
    animation: layer02-slidein 2.4s ease-in-out 1s forwards;
  }

  .landing-layer03 {
    transform: translate(40%, 30%);
    opacity: 0;
    animation:
      text-rise 0.7s ease-out 0.85s forwards,
      text-slideout 1s ease-in-out 2.4s forwards;
  }

  .landing-section-vector>img {
    transform: translatey(-5%);
    animation:
      vector-growth 0.85s ease-in 2.15s forwards;
  }

  .landing-section-text p {
    opacity: 0;
    animation: text-fadein 0.5s ease-in 0.85s forwards;
  }

  .landing-layer04 {
    opacity: 0;
    animation:
      rotor-enter 0.9s ease-out 2.72s forwards,
      rotor-fade 0.6s ease-in 2.72s forwards;
  }

  .landing-section-rotor img {
    animation:
      rotor-spin 1.8s linear 3.5s 2;
  }

  @keyframes text-rise {
    from {
      transform: translate(40%, 30%);
      opacity: 0.1;
    }

    to {
      transform: translate(40%, 0%);
      opacity: 1;
    }
  }

  @keyframes text-fadein {
    from {
      opacity: 0.1;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes layer01-slideout {
    0% {
      transform: translateX(0);
    }

    40% {
      transform: translateX(-40%);
    }

    55% {
      transform: translateX(-40%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes layer01-slideout-one {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-40%);
    }
  }

  @keyframes layer01-slideout-two {
    0% {
      transform: translateX(-40%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes text-slideout {
    from {
      transform: translate(40%, 0%);
    }

    to {
      transform: translate(0%, 0%);
    }
  }

  @keyframes layer02-slidein {
    0% {
      transform: translateX(100%);
    }

    40% {
      transform: translateX(40%);
    }

    58% {
      transform: translateX(40%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  @keyframes vector-growth {
    0% {
      transform: translateY(-5%);
    }

    40% {
      transform: translateY(-5%);
    }

    100% {
      transform: translateY(-0.5%);
    }
  }

  @keyframes rotor-enter {
    from {
      transform: translateY(250px);
    }

    to {
      transform: translateY(0px);
    }
  }

  @keyframes rotor-fade {
    from {
      opacity: 0.05;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes rotor-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}