p {
  font-family: Palanquin;
  font-size: 1rem;
  color: rgba(61, 61, 61, 1);
}

.a3content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 88px;
  padding: 16px 24px 48px 24px;
}

.a3content-slidersection {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 88px;
  padding: 16px 24px 48px 24px;
}

.a3content-slidersection >h3 {
  font-family: arima;
  font-size: clamp(1.25rem, 2rem + 3.75vw, 2rem);
  color:rgba(84, 55, 13, 1);
}

.a3content-slider {
  width: 100%;
  max-width: 1200px;
  min-height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-element {
  width: 300px;
  height: 440px;
  border-radius: 16px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: 1;
  transform: perspective(250px) rotateY(18deg) translate(-20px) scale(1);
  transform-origin: 50% 50%;
  transition: all 300ms ease-out;
}

.slider-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slider-element:hover {
  width: 400px;
  z-index: 2;
  transform: perspective(250px) rotateY(0deg) scale(1.3);
}

.slider-element:hover ~ .slider-element {
  transform: perspective(250px) rotateY(-18deg) translateX(20px) scale(1);
}

.a3content-radiobtn{
  display: flex;
  justify-content: center;
}

.a3content-radiobtn img {
  width: 200px;
  height: 390px;
  object-fit: cover;
  display: block;
}



.a3content-middle {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.a3content-middle > p {
  font-family: palanquin;
  font-size: clamp(1rem, 0.25rem + 2vw, 1.5rem);
  line-height: 1.5;
  color: rgba(61, 61, 61, 1);
  padding: 16px 0px;
}

.a3content-middle-listblock > p {
  font-family: palanquin;
  font-size: clamp(1rem, 0.25rem + 2vw, 1.5rem);
  line-height: 1.5;
  color: rgba(61, 61, 61, 1);
  padding-bottom: 32px;
}

.a3content-middle-listblock {
  margin: 16px 100px;
}

.a3content-middle-list > li {
  font-family: palanquin;
  font-size: clamp(1rem, 0.25rem + 2vw, 1.5rem);
  line-height: 1.3;
  color: rgba(61, 61, 61, 1);
}

.a3content-middle-list > li::marker {
  font-size: 0.8rem;
}

.a3content-middle-list span {
  font-family: palanquin;
  font-size: clamp(1rem, 0.25rem + 2vw, 1.5rem);
  font-weight: 700;
  line-height: 1.3;
  color: rgba(61, 61, 61, 1);
}

.a3content-bottom {
  display: flex;
  align-items: center;
  gap: 48px;
}

.a3content-bottom > p {
  font-family: palanquin;
  font-size: clamp(1rem, 0.25rem + 2vw, 1.5rem);
  line-height: 1.3;
  color: rgba(61, 61, 61, 1);
}

@media screen and (min-width:768px) and (max-width:1200px) {
.slider-element {
  width: 200px;
  height: 290px;
}

}

@media screen and (max-width:768px) {

.a3content-slidersection {
 width: 600px;
 justify-content: flex-start;
  overflow: hidden;
 }

 .slider-element {
  width: 200px;
  height: 290px;
  
  transform: perspective(250px) rotateY(18deg) translate(-20px) scale(1);
  transform-origin: 50% 50%;
  transition: all 300ms ease-out;
}
}