p {
  font-family: Palanquin;
  font-size: 1rem;
  color: rgba(61, 61, 61, 1);
}

.a2content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 88px;
  padding: 16px 24px 48px 24px;
}

.a2content-top {
  display: flex;
  align-items: center;
  gap: 48px;
}

.a2content-top > p {
  font-family: palanquin;
  font-size: clamp(1rem, 0.25rem + 2vw, 1.5rem);
  line-height: 1.3;
  color: rgba(61, 61, 61, 1);
}

.a2content-video {
  width: 100%;
  max-width: 930px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 137px 137px;
}

.a2content-video video {
  display: block;
  width: 100%;
  height: auto;
  border-radius: clamp(16px, -16px + 8vw, 48px);
}

.a2content-video img {
  position: absolute;
  width: clamp(20px, -40px + 15vw, 80px);
}

.a2content-middle {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.a2content-middle > p {
  font-family: palanquin;
  font-size: clamp(1rem, 0.25rem + 2vw, 1.5rem);
  line-height: 1.5;
  color: rgba(61, 61, 61, 1);
}

.a2content-middle-listblock > p {
  font-family: palanquin;
  font-size: clamp(1rem, 0.25rem + 2vw, 1.5rem);
  line-height: 1.5;
  color: rgba(61, 61, 61, 1);
  padding-bottom: 32px;
}

.a2content-middle-list {
  margin: 16px 0px;
}

.a2content-middle-list > li {
  font-family: palanquin;
  font-size: clamp(1rem, 0.25rem + 2vw, 1.5rem);
  line-height: 1.3;
  color: rgba(61, 61, 61, 1);
}

.a2content-middle-list > li::marker {
  font-size: 0.8rem;
}

.a2content-middle-list span {
  font-family: palanquin;
  font-size: clamp(1rem, 0.25rem + 2vw, 1.5rem);
  font-weight: 700;
  line-height: 1.3;
  color: rgba(61, 61, 61, 1);
}
/* @media screen and (min-width:1440px) {
    .a2content {
        padding: 0px max(160px, (50% - 720px));
    }

} */
