* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Iceland";
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

h1 {
  font-family: arima;
  font-size: 4rem;
  color: rgba(78, 164, 135, 1);
  font-weight: 700;
}

h2 {
  font-family: arima;
  font-size: 3.25rem;
  color: rgba(78, 164, 135, 1);
  font-weight: 700;
}

h3 {
  font-family: arima;
  font-size: 2rem;
  color: rgba(78, 164, 135, 1);
  font-weight: 700;
}

h4 {
  font-family: palanquin;
  font-size: 2.5rem;
  color: rgba(78, 164, 135, 1);
  font-weight: 600;
}

.standard-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 24px;
}

.standard-headline > img {
  width: clamp(40px, 28px + 2.5vw, 48px);
  height: auto;
}

.standard-headline > h2 {
  font-family: arima;
  font-size: clamp(2.5rem, 1.25rem + 4vw, 3.25rem);
  color: rgba(78, 164, 135, 1);
  font-weight: 700;
}
